<div class= "wrapper">
	<div id="homePage">
	<div id="userImgContent">
		<img id="favImage" ng-src= "{{favImage}}">
		<br>

	</div>
        <div id="pubSci" ng-show="Sci" style="position:absolute;"><p>In expert science, a lot of time is spent making sure that the conditions of the experiments are controlled, and that everyone has been trained to report their results in the same way. With data analytics, we can turn to public knowledge and the ways that practical know-how can be shared using new technologies. You can think of this as a dating app for plants, but one where someone is keeping track of how the other dates went, weeding and pruning until the right fit for your garden emerges. </p>
            <p>Or: Science began by making practical knowledge systematic, and over time became better at recognizing patterns and formalizing laws. The new tools of data analytics concentrate on patterns, and on techniques for making invisible patterns emerge.</p>
            
        <p>toast? photos? GIS? Three levels, user/share GIS with search/just search</p>
        <p>photos - replace - better photo; this time of year; more photos are better(pre-selected)</p>
    </div>
        
 <!-- <script src="modules/smallCarousel/carousel.js"></script>
  <script src="modules/smallCarousel/carouselApp.js"></script>
	-->
	<div id= "userTraits" >
<!--
		<style>
			.carousel-indicators{
			display:none;}
		</style>
		<slide ng-repeat="trait in traits" active="trait.active" >
			<div><img id="traitImage" ng-src="{{trait.image}}"></div>
		</slide>
-->
	</div>
	
	
<!--
	<h2>What Works</h2>
        <p>Go from what works - I know, I think, I hope (top to bottom); in my garden, seen around in gardens, wanted, not wanted; for each row - we think, and if I know is higher, we'll change that score next time around; these belong to each category; icons in top are advisors/groups you trust</p>
	<div id="scrollPlants">
		<div id="pictures" >
			<slide ng-repeat="gardens in gardens" active="gardens.active">
				<span><img id="plantImages" ng-src="{{gardens.image}}"></span>
			</slide>
		</div>
	</div>
-->

<!--	<h2>Might Work</h2>-->
	<div id="scrollPlants">
		<div id="pictures">
<!--
		  <slide ng-repeat="slide in slides" active="slide.active">
			<span><img id="plantImages"ng-src="{{slide.image}}"></span>
		  </slide>
-->
		</div>
	</div>
	</div>
</div>