<!--<div id="main-wrapper"  do not put ng-attr on viewBox>
hm-hold and hm-tap-options= etc. -- have to figure out sensitivity.
-->
    
    <svg id="fanWindow" preserveAspectRatio="xMinYMin meet" viewBox="0 0 600 {{num2show*230}}"
         xmlns="http://www.w3.org/2000/svg">
        
        <path stroke="{{topFill}}" fill="#F5F0EA" stroke-width="2" d="M0,0 l510,0 l0,{{(num2show*230)-70}} l-510,0 z"></path>
        <path fill="{{topFill}}" stroke="#A4AF3A" d="M0,0 l510,0 l0,65 s-255,-50 -510,0 z"></path>
<!--
    <svg id="fanWindow" ng-attr-width="{{windowWd}}" ng-attr-height="{{windowHt}}"  ng-attr-viewBox="0 0 {{windowWd}} {{windowHt}}"
         xmlns="http://www.w3.org/2000/svg">
-->
<!--        <span ng-include="'img/feb.svg'"></span>-->
<!--        <g row-controls categ="{{categType}}" ng-repeat="categType in plantObjectModel.dataIcons | filter:q | limitTo:4">
IF do row-controls, it would be to overlay whole rows for better responsiveness; move to bottom to be overlay-->
<!--
        <defs>
            <linearGradient id="gradHoriz" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="90%" style="stop-color:#BD9E73;stop-opacity:1" />
                <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
            </linearGradient>
        </defs>
url(#gradHoriz)
-->
<!--
        <path id="titleBar" fill="none" stroke="#BD9E73" 
                  shape-rendering="optimizeQuality" 
                  stroke-width="34" 
                  d="M140,25 s100,-15 220,0" />
        <text font-family="Verdana" 
                  font-size="18" fill="blue" 
                  text-anchor="middle" 
                >
            <textPath xlink:href="#titleBar"
                          startOffset="50%" 
                >
            Title</text>
-->
        <g class="rows" row-controls 
            hm-swipe-left="swipeRow(categType,'left')"
            hm-swipe-right="swipeRow(categType,'right')"
            hm-drag="moveRow(categType,$event)"
            ng-repeat="categType in plantObjectModel.dataIcons | filter:q | limitTo:num2show" >
            
            <path fill="none" stroke="#BD9E73" 
                  stroke-width="36"  
                  shape-rendering="optimizeQuality" 
                  ng-attr-d="M{{145+($index*4)}},{{(190*$index)+40}} 
                     s{{100-($index*4)}},-15 {{210-($index*8)}},0" />
            <path fill="none" stroke="#e8d9c3" stroke-width="2" 
                  shape-rendering="optimizeQuality" 
                  ng-attr-d="M{{25+($index*6)}},{{(190*$index)+245}} 
                     s{{200-($index*6)}},-90 {{475-($index*12)}},0" />
            <path id="{{categType+'txtPth'}}" 
                  fill="none" stroke="none"
                  ng-attr-d="M{{150+($index*4)}},{{(190*$index)+45}} 
                     s{{100-($index*4)}},-25 {{200-($index*8)}},0">
            </path>

<!--
            <path ng-repeat-end 
                  fill="none" stroke="#BD9E73" 
                  stroke-width="16"
                  ng-attr-d="M150,25 L{{155+($index*4)}},{{(190*$index)+190}}">
            </path>
            <path ng-repeat-end 
                  fill="none" stroke="#BD9E73" 
                  stroke-width="16"
                  ng-attr-d="M350,25 L{{350-($index*4)}},{{(190*$index)+190}}">
            </path>
-->
                  
            <text class="prettyTitle" font-family="Verdana" 
                  font-size="15" fill="blue" 
                  text-anchor="middle" 
                >
                <textPath xlink:href="{{'#'+categType+'txtPth'}}"
                          startOffset="50%" 
                          >
                    {{plantObjectModel.dataIcons[categType].pretty_title}}
                </textPath>
            </text>
            
<!--
            <g ng-repeat="icon in plantObjectModel.dataIcons[categType].icons"
                class="{{'img/'+icon+'.svg'}}"
                ng-include="'{{img/dec.svg}}'"
                ng-click="alert('should explain category')"
                ng-swipe-left="swipeRow(categType,'left')"
                ng-swipe-right="swipeRow(categType,'right')"
                ng-attr-x="{{200}}" 
                ng-attr-y="{{180+(categPosition(categType)*190)}}" 
                height="120" width="120"  
                ng-attr-transform="{{iconTransform(categType,icon)}}"
            ></g>

ADD: Total heigth and width, and set height and width of svg viewPort accordingly? then make it 100% on surrounding, and have width filled with other stuff?
hm-swipe-left="swipeRow(categType,'left')"
                    hm-swipe-right="swipeRow(categType,'right')"
hm-drag="moveRow(categType,$event)"
-->
            <g ng-repeat="icon in plantObjectModel.dataIcons[categType].icons"
               >
            <image img-controls
                   
                    class="rowImage"
                    
                    ng-attr-x="{{200}}" 
                    ng-attr-y="{{70+(categPosition(categType)*190)}}" 
                    ng-attr-height="{{imgHt}}" ng-attr-width="{{imgHt}}"  
                    ng-attr-transform="{{iconTransform(categType,icon)}}"
                    xlink:href="{{'img/'+icon+'.svg'}}"
            />
                <path id="{{icon+'txtPth'}}" 
                      fill="none" stroke="none"
                      ng-attr-transform="{{iconTransform(categType,icon)}}"
                      ng-attr-d="M{{210}},{{120+(categPosition(categType)*190)}} s50,-15 100,0" />
            <text class="iconTitle" font-family="Verdana" 
                  ng-attr-height="{{imgHt}}" ng-attr-width="{{imgHt}}"
                  font-size="15" fill="blue" 
                  text-anchor="middle" 
                  
                >
                <textPath xlink:href="{{'#'+icon+'txtPth'}}"
                          startOffset="50%" 
                          
                          >
                    {{icon}}
                </textPath>
            </text>
            
            </g>
            <path class="arrowsLeft" fill="white" fill-opacity=".001"
                  stroke="#e8d9c3" stroke-width="7" 
                  shape-rendering="optimizeQuality" 
                  ng-attr-d="M{{35+($index*6)}},{{(190*$index)+75}} 
                     l-20,20 l20,20"
                  hm-tap="swipeRow(categType,'left')"
                  >
            </path>
            <path class="arrowsRight" fill="white" fill-opacity=".001"
                  stroke="#e8d9c3" stroke-width="7" 
                  shape-rendering="optimizeQuality" 
                  ng-attr-d="M{{485-($index*6)}},{{(190*$index)+75}} 
                     l20,20 l-20,20"
                  hm-tap="swipeRow(categType,'right')"
                  
                  >
            </path>
<!--
            <path 
                    class="{{showNotchedLine(categType)}}"
                    hm-tap="alert(showNotchedLine(categType))"
                    fill="none" stroke="#7387bd" stroke-width="6" 
                    shape-rendering="optimizeQuality" 
                    ng-attr-d="M{{25+($index*6)}},{{(190*$index)+165}} 
                     s{{200-($index*6)}},-90 {{475-($index*12)}},0"
                      >
            </path>
-->

            <!--below is not on top of vertical bars??-->
            <path class="centerGlass"
                  hm-tap="rot8($event,{{windowWd}},categType)"
                  
                  ng-attr-d="M{{145+($index*4)}},{{(190*$index)+58}} 
                     s{{100-($index*4)}},-15 {{210-($index*8)}},0 L{{350-($index*8)}},{{(190*($index+1))+40}} l-{{(190-($index*8))}},0 z"
                  fill="#0d13a0" opacity=".10"
            />
<!--
            <path class="fake-buttons"
                
                  hm-tap="swipeRow(categType,'right')"
                  hm-swipe-left="swipeRow(categType,'left')"
                  hm-swipe-right="swipeRow(categType,'right')"
                  ng-attr-d="M300,{{(190*$index)+10}} L400,{{(190*$index)+10}} L380,{{(190*$index)+190}} L300,{{(190*$index)+190}} z"
                  fill="white" opacity=".001"
            />
-->
            
        </g>
        <g id="verticals">
            <path  
                  fill="none" stroke="#BD9E73" 
                  stroke-width="16"
                  ng-attr-d="M150,25 L{{155+(num2show*3)}},{{(190*num2show)+20}}">
            </path>
            <path 
                  fill="none" stroke="#BD9E73" 
                  stroke-width="16"
                  ng-attr-d="M350,25 L{{350-(num2show*4)}},{{(190*num2show)+20}}">
            </path>
            
        </g>
        <g id="logoButton">
            <path  
                  fill="#A4AF3A" stroke="#2a2927" 
                  stroke-width="1"
                  ng-attr-d="M154,{{(190*num2show)-5}} S245,{{(190*num2show)-55}} {{365-(num2show*4)}},{{(190*num2show)-5}} 
                            l-12,120 s-90,15 -170,0 z">
            </path>
            <image xlink:href="img/ll_search.svg"  
                height="100" width="100"
                   ng-attr-x="{{180+(num2show*3)}}"
                   ng-attr-y="{{(190*num2show)}}"
                   />
            <image xlink:href="img/DASHlogo.png"  
                height="100" width="200"
                   ng-attr-x="{{330+(num2show*3)}}"
                   ng-attr-y="{{(190*num2show)}}"
                   />
            <image xlink:href="img/honors.png"  
                height="90" width="140"
                   ng-attr-x="{{(num2show*3)}}"
                   ng-attr-y="{{(190*num2show)}}"
                   />
        </g>
    </svg>

<img id="searchImg" src="img/search.png" hm-tap="showSrch=!showSrch"/>
	<input id="categSearch" ng-show="showSrch" type="search" size="12" ng-model="q" placeholder="filter searches..." />
<img id="honorsLogo" src="img/honors.png" />
<img id="DASHLogo" src="img/DASHlogo.png" />
    