<div id="svgR">
<!--<input id="categSearch" type="search" size="8" ng-model="q" placeholder="filter searches..." />-->
    <!--make a select until think through a fan selector for it??-->
<svg class="svgRow" id="fanWindow" width="720" height="1280"  viewBox="0 0 720 1280"
            xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke="#BD9E73" stroke-width="16" stroke-miterlimit="10"
            d="M150,131 l67,1072 l96,0 l64-1076C385,127,260,90,150,125 z"/><!--top and uprights-->
<!--
		<path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M150,145
			c0,0,102-26,229,0"/>top cross
-->
		<path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M175,530
			c0,0,79-20,180-2"/><!--third cross-->
		<path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M186,721
			c0,0,85-18,155,0"/>
		<path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M197,911c0,0,57-20,134-3"/>
		<path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M163,341c0,0,98-21,204-1"/>
        <path fill="none" stroke="#BD9E73" stroke-width="36" stroke-miterlimit="10" d="M148,141c0,0,98-21,234-1"/>
    
        <g ng-repeat="categType in plantObjectModel.dataIcons | filter:q | limitTo:4">
            <text class="prettyTitle"
                ng-attr-x="{{260-(plantObjectModel.dataIcons[categType].pretty_title.length*4)}}" 
                ng-attr-y="{{(190*$index)+335}}">
                {{plantObjectModel.dataIcons[categType].pretty_title}}
            </text>
            <path class="fake-buttons"
                  ng-click="swipeRow(categType,'left')"
                  d="M120,{{(190*$index)+185}} L220,{{(190*$index)+185}} L220,{{(190*$index)+335}} L120,{{(190*$index)+335}} z"
                  fill="white" opacity=".001"
            />
            <path class="fake-buttons"
                  ng-click="swipeRow(categType,'right')"
                  d="M300,{{(190*$index)+185}} L400,{{(190*$index)+185}} L400,{{(190*$index)+335}} L300,{{(190*$index)+335}} z"
                  fill="white" opacity=".001"
            />
            <!--drag more than 20 causes a swipe event would be like a snap? or let part way-->
            <image ng-repeat="icon in plantObjectModel.dataIcons[categType].icons"
                    class="rowImage {{iconTransform(categType,icon)}}"
                    ng-click="alert('should explain category')"
                    ng-swipe-left="swipeRow(categType,'left')"
                    ng-swipe-right="swipeRow(categType,'right')"
                    ng-attr-x="{{200}}" 
                    ng-attr-y="{{180+(categPosition(categType)*190)}}" 
                    height="100" width="100"  
                    ng-attr-transform="{{iconTransform(categType,icon)}}"
                    xlink:href="{{'img/icons/'+icon+'.png'}}"
            />
            <!--put all the move stuff directly here, then work to get the rotation as input, and have
                everything in a model for the input
for Native: translate(250, -30) rotate(14)
rotate({{iconPosition(categType,icon)}},250,3000)
ng-attr-y="{{180+(categPosition(categType)*190)}}"
Make it a rotation in the svg - and only that
 {{12000-(categPosition(categType)*600)}}
ng-attr-transform="rotate({{iconPosition(categType,icon)*1.1}},200,14000) 
                                    rotate({{iconPosition(categType,icon)*6}},60,60)" -->
        </g>

    </svg>
</div>