/* app css stylesheet */
body {
	padding: 0px;
    background-color: #68811e;
/*	screenOrientation.autoRotate = 'Disabled';
    set some of this in config.xml?
    */
}
/*
#main {
    position:relative;
    border-style:dashed;
    border-width:2px;
    width:100%;
    height:100%;
}
*/
#honorsLogo{
    position:fixed;
    bottom:2%;
    left:2%;
    width:25%;
}
#DASHLogo{
    position:fixed;
    width:30%;
    bottom:2%;
    right:2%;
}
#categSearch{
    position:relative;
    float:right;
}
#searchImg{
    position:absolute;
    width:10%;
    margin-top:-2%;
}
#main{
    display:inline-block;
    position:relative;
	width: 100%;
    height: 100%;
	padding-bottom: 25%;
/*
    border-style:dashed;
    border-width:2px;
*/
    overflow:hidden;
    vertical-align:left;
}
#fanWindow{
    position:fixed;
    display:block;
    width:110%;
    height:100%;
}
.rows{ /*svg g thus not much css will change*/
    display:block;
}
.notched-hide{
    display:none;
}
.notched-normal{
}
/*HEADROOM*/
.headroom {
    position: fixed;
	background-color: #BD9E73; /*#68811e; (green)*/
	/*background-image: url('../img/bg.png');   same as landing page*/
	padding-bottom:50px;
	top:0px;
	left:0px;
	width:100%;
	height: 60px;
	z-index: 30; 
    transition: all .2s ease-in-out;
}
.headroom--unpinned {
    top: -100px;
}
.headroom--pinned {
    top: 0;
}


.footer {
    position:fixed;
    bottom: 0px;
    padding:0px;
    width:100%;
    height: 40px;
    background-image: "img/navbg.png";
/*    z-index: 2;*/
/*    background: ;*/
/*    opacity: ;*/
    
/*	display: block;*/
	height: 100px;
	margin-left: 10%;
/*	bottom: 0px;*/
    z-index:20;
    
    transition: all .2s ease-in-out;
}
.footer--unpinned {
    bottom: -100px;
}
.footer--pinned {
    bottom: 0;
}
/*End of Headroom*/